{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-'~ field_type|clean_class,
    'field--label-' ~ label_display,
    'delicious-content',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes, 'field__items') }}>
{% if not label_hidden %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  </div>
{% endif %}
<ul class='recipe-images'>
  {% for item in items %}
    <li{{ item.attributes.addClass( 'field__item') }}>{{ item.content }}</li>
  {% endfor %}
</ul>
